/* Style
---------------------------------------*/
/*
1) @import.
2) Header.
3) About-chair.
4) Proposals.
5) Bonus-shops.
6) Impuls.
7) Watched.
8) Popular-categories.
9) Social.
10) Footer.

*/
/* 1) @import
-------------------------*/
/* Variables
---------------------------------------*/
/* User Mixins 
---------------------------------------*/
.clearfix::after {
  /*not a mixin*/
  content: "";
  clear: both;
  display: table;
}
/*Центрирование инлайнов внутри блоков
			font-size: 78px;
			line-height: 119px;
*/
/* Headings
---------------------------------------*/
h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  color: #fff;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}
h3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
}
h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #000;
}
/* Body
---------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  background-color: #E5E5E5;
}
.wrapper {
  background-color: #fff;
}
hr {
  border: 1px solid #EFEFEF;
  margin: 0;
  border-top: none;
}
/* =Buttons
---------------------------------------*/
.button {
  border: 2px solid #F13C6E;
  border-radius: 40px;
  padding: 10px 25px 10px 25px;
  background-color: #fff;
}
/* =Graphics
---------------------------------------*/
/* =Links
---------------------------------------*/
a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
a:hover {
  outline: none;
  text-decoration: none;
  color: #F13C6E;
  cursor: pointer;
}
/* 2) Header
-------------------------*/
.main-header .navigation-secondary {
  width: 1110px;
  margin: 0 auto;
  padding: 17px 0 16px 0;
  text-align: center;
}
.main-header .navigation-secondary .list .list-item {
  display: inline-block;
  margin-right: 30px;
}
.main-header .navigation-secondary .list .list-item:last-child {
  margin-right: 0;
}
.main-header .navigation-secondary .list .list-item .link {
  display: block;
  line-height: 16px;
}
.main-header .main-block {
  margin: 0 auto;
  width: 1110px;
  padding: 40px 0 40px;
}
.main-header .main-block .logo-block {
  float: left;
  position: relative;
}
.main-header .main-block .logo-block .main-logo {
  position: absolute;
  top: -21px;
}
.main-header .main-block .logo-block .main-title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #F13C6E;
  text-transform: uppercase;
  margin-left: 100px;
  letter-spacing: 0.1em;
}
.main-header .navigation-main {
  margin: 0 auto;
  width: 1110px;
  padding: 30px 0 30px;
  text-align: center;
}
.main-header .navigation-main .list .item {
  display: inline-block;
  margin-right: 40px;
}
.main-header .navigation-main .list .item:last-child {
  margin-right: 0;
}
.main-header .navigation-main .list .item .link {
  display: block;
  font-size: 16px;
  line-height: 19px;
}
.contacts {
  float: right;
}
.contacts .phone {
  display: inline-block;
  line-height: 19px;
}
.contacts .button-call {
  display: inline-block;
  line-height: 16px;
  margin-left: 40px;
}
/* 3) About-chair 
-------------------------*/
.about-chair__wrapper {
  background: url(../img/bgi.png) no-repeat;
  background-position: 50% 50%;
  /*расположение по центру*/
  background-size: cover;
  /*сохранить пропорции размер не менять*/
}
.about-chair {
  margin: 0 auto;
  width: 1110px;
  padding: 192px 0 193px;
}
.about-chair .about-chair__title {
  margin-bottom: 50px;
}
.about-chair .about-chair__description {
  margin-bottom: 50px;
  color: #fff;
  width: 308px;
}
.about-chair .about-chair__button {
  border-color: #fff;
  letter-spacing: 0.05em;
  display: inline-block;
  background-color: transparent;
  color: #fff;
  width: 170px;
  text-align: center;
}
.about-chair .about-chair__button:hover {
  border-color: #F13C6E;
  color: #F13C6E;
  background-color: #fff;
}
/* 4) Proposals and 7) Watched
-------------------------*/
.proposals,
.watched__wrapper {
  margin: 0 auto;
  width: 1110px;
  padding: 80px 0 80px;
}
.proposals .proposals__title,
.watched__wrapper .proposals__title {
  margin-bottom: 38px;
}
.proposals .proposal,
.watched__wrapper .proposal {
  display: inline-block;
  background-color: #fff;
  padding: 25px 30px;
  width: 255px;
  margin-right: 30px;
  text-align: center;
  vertical-align: top;
}
.proposals .proposal:last-child,
.watched__wrapper .proposal:last-child {
  margin-right: 0;
}
.proposals .proposal .proposal__img,
.watched__wrapper .proposal .proposal__img {
  margin-bottom: 20px;
}
.proposals .proposal .proposal__description,
.watched__wrapper .proposal .proposal__description {
  line-height: 20px;
  margin-bottom: 20px;
}
.proposals .proposal .proposal__price,
.watched__wrapper .proposal .proposal__price {
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  font-weight: 500;
}
.proposals .proposal .proposal__button,
.watched__wrapper .proposal .proposal__button {
  display: inline-block;
  min-width: 130px;
  background-color: #F13C6E;
  color: #fff;
}
/* 5) Bonus-shops 
-------------------------*/
.bonus-shops__wrapper {
  margin: 0 auto;
  width: 1110px;
  padding: 20px 0 50px;
}
.bonus-shops__wrapper .bonus-shops__block {
  background-color: #F13C6E;
  min-width: 540px;
  padding: 35px 40px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.bonus-shops__wrapper .bonus-shops__block:first-child {
  margin-right: 30px;
}
.bonus-shops__wrapper .bonus-shops__block .bonus-shops__title {
  width: 250px;
  margin-bottom: 21px;
}
.bonus-shops__wrapper .bonus-shops__block .bonus-shops__description {
  color: #fff;
  width: 250px;
  margin-bottom: 25px;
}
.bonus-shops__wrapper .bonus-shops__block .bonus-shops__form .bonus-shops__email {
  width: 225px;
  height: 35px;
  padding: 9px 25px;
  background-color: #fff;
  border-radius: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  border: none;
}
.bonus-shops__wrapper .bonus-shops__block .bonus-shops__form .bonus-shops__email::placeholder {
  color: #C4C4C4;
}
.bonus-shops__wrapper .bonus-shops__block .bonus-shops__map {
  display: inline-block;
  line-height: 16px;
  min-width: 170px;
  background-color: #F13C6E;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 7px;
}
.bonus-shops__wrapper .bonus-shops__block .bonus-shops__map:hover {
  border-color: #F13C6E;
  color: #F13C6E;
  background-color: #fff;
}
.bonus-shops__wrapper .bonus-shops__block .bonus-shops__img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 45px;
}
/* 6) Impuls 
-------------------------*/
.impuls__wrapper {
  margin: 0 auto;
  width: 1110px;
  padding: 50px 0 50px;
}
.impuls__wrapper .impuls__item {
  display: inline-block;
  background-color: #fff;
  height: 119px;
  width: 276px;
  margin-bottom: 1px;
  text-align: center;
}
.impuls__wrapper .impuls__item:not(:nth-child(4n)) {
  margin-right: 1px;
}
.impuls__wrapper .impuls__item .impuls__link {
  font-size: 78px;
  line-height: 119px;
  padding: 0 20px;
}
/* 7) Watched 
-------------------------*/
.watched__wrapper {
  padding: 30px 0 81px;
}
.watched__wrapper .watched__title {
  margin-bottom: 38px;
}
/* 8) Popular-categories 
-------------------------*/
.popular-categories__wrapper {
  background-color: #fff;
}
.popular-categories__wrapper .popular-categories {
  margin: 0 auto;
  width: 1110px;
  padding: 60px 0 60px;
}
.popular-categories__wrapper .popular-categories .popular-categories__section {
  display: inline-block;
  vertical-align: top;
}
.popular-categories__wrapper .popular-categories .popular-categories__section:not(:last-child) {
  margin-right: 30px;
}
.popular-categories__wrapper .popular-categories .popular-categories__section .popular-categories__title {
  width: 99px;
  margin-bottom: 30px;
}
.popular-categories__wrapper .popular-categories .popular-categories__section .divider {
  /*Mixin for pseudoelement*/
  width: 255px;
  background-color: #EFEFEF;
  margin-bottom: 25px;
}
.popular-categories__wrapper .popular-categories .popular-categories__section .popular-categories__nav {
  max-width: 255px;
}
.popular-categories__wrapper .popular-categories .popular-categories__section .popular-categories__nav .popular-categories__link {
  color: #828282;
  font-size: 12px;
  line-height: 28px;
}
.popular-categories__wrapper .popular-categories .popular-categories__section .popular-categories__nav .popular-categories__link:hover {
  color: #343434;
}
/* 9) Social 
-------------------------*/
.socials__wrapper {
  background-color: #fff;
  margin-top: 1px;
}
.socials__wrapper .socials {
  margin: 0 auto;
  width: 1110px;
  padding: 40px 0 40px;
}
.socials__wrapper .socials .social {
  float: left;
}
.socials__wrapper .socials .social .social__icon {
  width: 45px;
  height: 45px;
  border: 2px solid #F13C6E;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.socials__wrapper .socials .social .social__icon .social__link {
  font-size: 20px;
  line-height: 44px;
}
.socials__wrapper .socials .social .social__icon:nth-child(3) .social__link {
  line-height: 45px;
}
.socials__wrapper .socials .social .social__icon:nth-child(4) .social__link {
  line-height: 49px;
}
.socials__wrapper .socials .social .social__icon:not(:last-child) {
  margin-right: 20px;
}
/* 10) Footer
-------------------------*/
.footer-wrapper {
  margin: 0 auto;
  width: 1110px;
  padding: 25px 0 25px;
  font-size: 12px;
  line-height: 14px;
}
.footer-wrapper .copyrights {
  float: left;
}
.footer-wrapper .policy {
  float: right;
}
