/* Style
---------------------------------------*/
/*
1) @import.
2) Header.
3) About-chair.
4) Proposals.
5) Bonus-shops.
6) Impuls.
7) Watched.
8) Popular-categories.
9) Social.
10) Footer.

*/
/* 1) @import
-------------------------*/
@import url("_variables");
@import url("_mixins");
@import url("_headings");
@import url("_body");
@import url("_buttons");
@import url("_graphics");
@import url("_links");

/* 2) Header
-------------------------*/
.main-header{
	.navigation-secondary{
		width: 1110px;
		.center-block();
		padding: 17px 0 16px 0;
		text-align: center;
		.list{
			.list-item{
				display: inline-block;
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
				.link{
					display: block;
					line-height: 16px;
				}
			}
		}
	}
	.main-block{
		.center-block(1110px);
		.main-paddings(40px, 0, 40px);
		.logo-block{
			float: left;
			position: relative;
			.main-logo{
				position: absolute;
				top: -21px;
			}
			.main-title{
				font-size: 36px;
				line-height: 42px;
				font-weight: 700;
				color: @pink;
				text-transform: uppercase;
				margin-left: 100px;
				letter-spacing: 0.1em;
			}
		}
	}
	.navigation-main{
		.center-block(1110px);
		.main-paddings(30px, 0, 30px);
		text-align: center;
		.list{
			.item{
				display: inline-block;
				margin-right: 40px;
				&:last-child{
					margin-right: 0;
				}
				.link{
					display: block;	
					font-size: 16px;
					line-height: 19px;				
				}
			}
		}
	}
}
.contacts{
	float: right;
	.phone{
		display: inline-block;
		line-height: 19px;
	}
	.button-call{
		display: inline-block;
		line-height: 16px;
		margin-left: 40px;
	}
}
/* 3) About-chair 
-------------------------*/
.about-chair__wrapper{
	background: url(../img/bgi.png) no-repeat;
	background-position: 50% 50%;/*расположение по центру*/
	background-size: cover;/*сохранить пропорции размер не менять*/
}
.about-chair{
	.center-block(1110px);
	.main-paddings(192px, 0, 193px);
	.about-chair__title{
		margin-bottom: 50px;
	}
	.about-chair__description{
		margin-bottom: 50px;
		color: @white;
		width: 308px;
	}
	.about-chair__button{
		border-color: @white;
		letter-spacing: 0.05em;
		display: inline-block;
		background-color: transparent;
		color: @white;
		width: 170px;
		text-align: center;
		&:hover{
			border-color: @pink;
			color: @pink;
			background-color: @white;
		}
	}
}
/* 4) Proposals and 7) Watched
-------------------------*/
.proposals, .watched__wrapper{
	.center-block(1110px);
	.main-paddings(80px, 0, 80px);
	.proposals__title{
		margin-bottom: 38px;
	}
	.proposal{
		display: inline-block;
		background-color: @white;
		padding: 25px 30px;
		width: 255px;
		margin-right: 30px;
		text-align: center;
		vertical-align: top;
		&:last-child{
			margin-right: 0;
		}
		.proposal__img{
			margin-bottom: 20px;
		}	
		.proposal__description{
			line-height: 20px;
			margin-bottom: 20px;
		}	
		.proposal__price{
			font-size: 21px;
			line-height: 24px;
			letter-spacing: 0.05em;
			margin-bottom: 20px;
			font-weight: 500;
		}
		.proposal__button{
			display: inline-block;
			min-width: 130px;
			background-color: @pink;
			color: @white;
		}
	}
}
/* 5) Bonus-shops 
-------------------------*/
.bonus-shops__wrapper{
	.center-block(1110px);
	.main-paddings(20px, 0, 50px);
	.bonus-shops__block{
		background-color: @pink;
		min-width: 540px;
		padding: 35px 40px;
		display: inline-block;
		position: relative;
		vertical-align: top;
		&:first-child{
			margin-right: 30px;
		}
		.bonus-shops__title{
			width: 250px;
			margin-bottom: 21px;
		}
		.bonus-shops__description{
			color: @white;
			width: 250px;
			margin-bottom: 25px;
		}
		.bonus-shops__form{
			.bonus-shops__email{
				width: 225px;
				height: 35px;
				padding: 9px 25px;
				background-color: @white;
				border-radius: 40px;
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				line-height: 16px;
				border: none;
				&::placeholder{
					color: #C4C4C4;
				}
			}
		}
		.bonus-shops__map{
			display: inline-block;
			line-height: 16px;
			min-width: 170px;
			background-color: @pink;
			border: 2px solid @white;
			color: @white;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 7px;
			&:hover{
				border-color: @pink;
				color: @pink;
				background-color: @white;
			}
		}
		.bonus-shops__img{
			.center-abs-ver();
			right: 45px;
		}
	}
}
/* 6) Impuls 
-------------------------*/
.impuls__wrapper{
	.center-block(1110px);
	.main-paddings(50px, 0, 50px);
	.impuls__item{
		display: inline-block;
		background-color: @white;
 		height: 119px;
		width: 276px;
		&:not(:nth-child(4n)){
			margin-right: 1px;
		}
		margin-bottom: 1px;
		text-align: center;
		.impuls__link{
			font-size: 78px;
			line-height: 119px;
			padding: 0 20px;
		}
	}
}
/* 7) Watched 
-------------------------*/
.watched__wrapper{
	.main-paddings(30px, 0, 81px);
	.watched__title{
		margin-bottom: 38px;
	}
}
/* 8) Popular-categories 
-------------------------*/
.popular-categories__wrapper{
	background-color: @white;
	.popular-categories{
		.center-block(1110px);
		.main-paddings(60px, 0, 60px);
		.popular-categories__section{
			display: inline-block;
			vertical-align: top;
			&:not(:last-child){
				margin-right: 30px;
			}
			.popular-categories__title{
				width: 99px;
				margin-bottom: 30px;
			}
			.divider{
				.underline(@grey-line, 255px);
				margin-bottom: 25px;
			}
			.popular-categories__nav{
				max-width: 255px;
				.popular-categories__link{
					color: @grey;
					font-size: 12px;
					line-height: 28px;
					&:hover{
						color: darken(grey, 30%);
					}
				}
			}
		}
	}
}
/* 9) Social 
-------------------------*/
.socials__wrapper{
	background-color: @white;
	margin-top: 1px;
	.socials{
		.center-block(1110px);
		.main-paddings(40px, 0, 40px);
		.social{
			float: left;
			.social__icon{
				.round(@pink; 45px);
				display: inline-block;
				vertical-align: top;
				text-align: center;
				.social__link{
					font-size: 20px;
					line-height: 44px;
					.social__img{
					}
				}&:nth-child(3){
					.social__link{
						line-height: 45px;
					}
				}
				&:nth-child(4){
					.social__link{
						line-height: 49px;
					}
				}
				&:not(:last-child){
					margin-right: 20px;
				}
			}
		}
	}
}
/* 10) Footer
-------------------------*/
.footer-wrapper{
	.center-block(1110px);
	.main-paddings(25px, 0, 25px);
	font-size: 12px;
	line-height: 14px;
	.copyrights{
		float: left;
	}
	.policy{
		float: right;
	}
}